.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    gap: 5px;

    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    width: 450px;
    position: relative;
    border: 2px solid rgb(52, 196, 169);
    /* overflow-y: scroll; */
}

.card>h1 {
    margin: 0;
    margin-bottom: 10px;
    /* position: absolute;
        top: -20px;
        background: linear-gradient(#f5f5f5 0%, #f5f5f5 55%, #ffffff 55%, #ffffff 100%);
        padding-left: 20px;
        padding-right: 20px; */
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;

    border-radius: 25px;
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    width: 400px;
    position: relative;
    height: 100%;
}

.patient-card {
    height: 200px;
}