.navbar {
    background-color: rgba(87, 216, 194);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Prevent pointer cursor on the Link element */
a {
    cursor: default;
}

/* Allow pointer cursor on the h2 inside the Link element */
a h2 {
    cursor: pointer;
}

.selectable-tab,
.active-tab {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: white;
    position: relative;
    display: inline-block;
}

.dropdown-selectable-tab {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.selectable-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(48, 170, 150);
    transition: width 0.3s ease;
}

.selectable-tab:hover::after {
    width: 100%;
}

.active-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(48, 170, 150);
}

/* Keep the underline visible when dropdown is hovered */
.dropdown:hover .selectable-tab::after {
    width: 100%;
}

.hoverable-fix .selectable-tab::after {
    width: 100%;
}

.left-section,
.mid-section,
.right-section {
    color: white;
    height: 100%;
}

.left-section {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-section {
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selectable-tab {
    padding: 10px;
}


.active-tab {
    padding: 10px;
}

.active-tab::after {
    width: 100%;
}


.username {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.username:hover {
    cursor: default;
}

.dropdown {
    float: left;
    height: 100%;
}

.notifs-dropdown {
    float: right;
    height: 100%;
    position: relative;
}

.notifs-dropdown:hover {
    cursor: pointer;
}

.dropdown-items {
    display: none;
    position: absolute;
    top: 80.4px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-items:hover {
    cursor: pointer;
}

.dropdown-items a {
    text-decoration: none;
}

.notifs-dropdown-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    top: 80px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hamburger-item {
    /* height: 20px; */
    color: black;
    margin: 0;
    padding: 20px;
    text-align: left;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hamburger-item:hover {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.hamburger-item-pointer:hover {
    cursor: pointer;
}

.hamburger-item-no-pointer:hover {
    cursor: default;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-items a:hover {
    background-color: rgb(219, 219, 219);
}

.notifs-dropdown-items a:hover {
    background-color: rgb(219, 219, 219);
}

.dropdown:hover .dropdown-items {
    display: block;
}

.notifs-dropdown:hover .notifs-dropdown-items {
    display: block;
}

.notif-close-btn {
    border: none;
    font-size: 14pt;
    border-radius: 50%;
    padding: 2px 6px;
    background-color: transparent;
}

.notif-close-btn:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.user-bell-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.bell {
    height: 100%;
}

.navbar-.profile-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-img-circle-mask {
    width: 50px;
    height: 50px;
    mask-image: url('../pages/assets/images/circle_mask.png');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    overflow: hidden;
    border-radius: 50%;
}

.navbar-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}