nav {
    background-color: rgba(87, 216, 194);
    display: flex;
    justify-content: space-between;
}

li,
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    /*color: #20221C;*/
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: block;
    visibility: hidden;
}

.selected-nav-item {
    /*border-bottom: 2px solid #20221C;*/
    color: red;
}

.left-section,
.mid-section,
.right-section {
    color: white;
}

.left-section {
    margin-left: 10%;
}

.right-section {
    margin-right: 10%;
}